<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^v(\d+)/check/(\d+)$ check.php?v=$1&s=$2 [QSA,L]
</IfModule>
